In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types
from pyspark.sql import functions as F

In [2]:
spark=SparkSession.builder.\
      master("local[*]").\
      appName("sparkSQL").\
     getOrCreate()

23/03/31 22:10:38 WARN Utils: Your hostname, smarteez-HP-ProBook-440-G8-Notebook-PC resolves to a loopback address: 127.0.1.1; using 192.168.11.130 instead (on interface wlp0s20f3)
23/03/31 22:10:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/31 22:10:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
yellow_schema=types.StructType([
        types.StructField('VendorID', types.IntegerType(), True),\
        types.StructField('tpep_pickup_datetime', types.TimestampType(), True),\
        types.StructField('tpep_dropoff_datetime', types.TimestampType(), True),\
        types.StructField('passenger_count', types.IntegerType(), True),\
        types.StructField('trip_distance', types.DoubleType(), True),\
        types.StructField('RatecodeID', types.IntegerType(), True),\
        types.StructField('store_and_fwd_flag', types.StringType(), True),\
        types.StructField('PULocationID', types.IntegerType(), True),\
        types.StructField('DOLocationID', types.IntegerType(), True),\
        types.StructField('payment_type', types.IntegerType(), True),\
        types.StructField('fare_amount', types.DoubleType(), True),\
        types.StructField('extra', types.DoubleType(), True),\
        types.StructField('mta_tax', types.DoubleType(), True),\
        types.StructField('tip_amount', types.DoubleType(), True),\
        types.StructField('tolls_amount', types.DoubleType(), True),\
        types.StructField('improvement_surcharge', types.DoubleType(), True),\
        types.StructField('total_amount', types.DoubleType(), True),\
        types.StructField('congestion_surcharge', types.DoubleType(), True)])

In [4]:
df_yellow=spark.read.option('header','true').schema(yellow_schema).csv("data/raw/yellow/2020/*/*")

In [5]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
green_schema=types.StructType([\
    types.StructField('VendorID', types.IntegerType(), True),\
    types.StructField('lpep_pickup_datetime', types.TimestampType(), True),\
    types.StructField('lpep_dropoff_datetime', types.TimestampType(), True),\
    types.StructField('store_and_fwd_flag', types.StringType(), True),\
    types.StructField('RatecodeID', types.IntegerType(), True),\
    types.StructField('PULocationID', types.IntegerType(), True),\
    types.StructField('DOLocationID', types.IntegerType(), True),\
    types.StructField('passenger_count', types.IntegerType(), True),\
    types.StructField('trip_distance', types.DoubleType(), True),\
    types.StructField('fare_amount', types.DoubleType(), True),\
    types.StructField('extra', types.DoubleType(), True),\
    types.StructField('mta_tax', types.DoubleType(), True),\
    types.StructField('tip_amount', types.DoubleType(), True),\
    types.StructField('tolls_amount', types.DoubleType(), True),\
    types.StructField('ehail_fee', types.DoubleType(), True),\
    types.StructField('improvement_surcharge', types.DoubleType(), True),\
    types.StructField('total_amount', types.DoubleType(), True),\
    types.StructField('payment_type', types.IntegerType(), True),\
    types.StructField('trip_type', types.IntegerType(), True),\
    types.StructField('congestion_surcharge', types.DoubleType(), True)])

In [7]:
df_green=spark.read.option('header','true').schema(green_schema).csv("data/raw/green/2020/*/*")

In [8]:
df_green.schema

StructType([StructField('VendorID', IntegerType(), True), StructField('lpep_pickup_datetime', TimestampType(), True), StructField('lpep_dropoff_datetime', TimestampType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('RatecodeID', IntegerType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('passenger_count', IntegerType(), True), StructField('trip_distance', DoubleType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('ehail_fee', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('payment_type', IntegerType(), True), StructField('trip_type', IntegerType(), True), StructField('congestion_surcharge', DoubleType(), True)])

In [9]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [10]:
df_green=df_green\
    .withColumnRenamed("lpep_pickup_datetime","pickup_datetime")\
    .withColumnRenamed("lpep_dropoff_datetime","dropoff_datetime")

In [11]:
df_yellow=df_yellow\
    .withColumnRenamed("tpep_pickup_datetime","pickup_datetime")\
    .withColumnRenamed("tpep_dropoff_datetime","dropoff_datetime")

In [12]:
common_columns=[col for col in df_green.columns if col in df_yellow.columns]

In [13]:
df_green_selected=df_green.select(common_columns)\
         .withColumn('service_type',F.lit('green'))

In [14]:
df_yellow_selected=df_yellow.select(common_columns)\
         .withColumn('service_type',F.lit('yellow'))

In [15]:
df_trip_data=df_yellow_selected.unionAll(df_green_selected)

In [16]:
df_trip_data.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- service_type: string (nullable = false)

In [17]:
df_trip_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|      yellow|24648499|
|       green| 1734051|
+------------+--------+

In [18]:
df_trip_data.registerTempTable('trips_data')

/home/smarteez/anaconda3/lib/python3.9/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [29]:
df_result=spark.sql("""
          select 
    -- Reveneue grouping 
    PULocationID as zone,
    date_trunc('month', pickup_datetime) as revenue_month, 
    --Note: For BQ use instead: date_trunc(pickup_datetime, month) as revenue_month, 
      
    service_type, 

    -- Revenue calculation 
    sum(fare_amount) as revenue_monthly_fare,
    sum(extra) as revenue_monthly_extra,
    sum(mta_tax) as revenue_monthly_mta_tax,
    sum(tip_amount) as revenue_monthly_tip_amount,
    sum(tolls_amount) as revenue_monthly_tolls_amount,
    sum(improvement_surcharge) as revenue_monthly_improvement_surcharge,
    sum(total_amount) as revenue_monthly_total_amount,
    sum(congestion_surcharge) as revenue_monthly_congestion_surcharge,

    -- Additional calculations
    avg(passenger_count) as avg_montly_passenger_count,
    avg(trip_distance) as avg_montly_trip_distance

    from trips_data
    group by 1,2,3
    """)

In [30]:
df_result.show()

+----+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+----+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
| 232|2020-01-01 00:00:00|      yellow|  126597.31999999867|              10436.5|                 3972.5|         16813.02999999993|          1099.3099999999995|                    2448.600000000024|          173676.36000000112|                             18085.0|        1.5602495775380216|      3.0658564139941826|
| 140|2020-01-01 00:00:00|      yellow|  1389253.7699999982|   140140.90000000005|                62306.5|         240176.3599999909|          16111.130000000781|                   37546.199999990255|          2093140.6100018797|                            307625.0|        1.4962935597086249|       2.351489023605404|
| 193|2019-12-01 00:00:00|      yellow|                2.51|                  0.5|                    0.5|                       0.0|                         0.0|                                  0.6|                        9.11|                                 5.0|                       2.5|                     0.0|
| 148|2020-01-01 00:00:00|      yellow|   936652.3299999996|    93703.65000000002|                37747.5|        168196.04999999888|          4407.7799999999725|                   22782.599999968126|          1391277.2100009087|                           188083.75|        1.5862376185734501|       2.848263482441447|
| 146|2020-01-01 00:00:00|      yellow|   68527.79999999992|              3523.45|                 2552.0|         7274.890000000001|           529.7000000000003|                   1558.1999999998552|           87228.29000000547|                              4852.5|        1.4310077519379845|      2.9420311609348184|
| 186|2020-02-01 00:00:00|      yellow|   2666210.860000013|   254244.99999999988|               111631.8|        481351.53000000457|           39788.65000000094|                    67274.40000027859|          3987213.1899928115|                            557047.5|         1.471607964334559|      2.2091214895267495|
| 132|2019-12-01 00:00:00|      yellow|               155.5|                  1.0|                    1.5|                     29.08|                         0.0|                   0.8999999999999999|          187.98000000000002|                                 0.0|                       1.0|                   18.73|
| 235|2020-01-01 00:00:00|      yellow|  13303.320000000023|                819.0|                  204.5|                     67.34|           660.6600000000003|                   148.49999999999991|           15218.61999999999|                                22.5|        1.3060344827586208|       6.234233870967739|
|  78|2020-01-01 00:00:00|      yellow|   9826.420000000011|                611.0|                  158.5|                     51.85|           706.6000000000004|                   112.79999999999929|           11535.91999999999|                                20.0|        1.2937853107344632|       5.799283819628646|
|  50|2020-02-01 00:00:00|      yellow|   564432.0299999985|    59145.80000000002|                24992.0|         98317.90000000347|           8616.769999999979|                   15100.199999986757|           851216.6500002736|                           124112.25|          1.50035690208986|      2.3935550775545553|
| 165|2020-01-01 00:00:00|      yellow|  12318.269999999977|               913.75|                  199.5|        125.25999999999999|           640.7800000000003|                   151.20000000000002|          14372.410000000044|                                10.0|        1.5126582278481013|       4.270784313725489|
| 237|2009-01-01 00:00:00|      yellow|                14.5|                  0.0|                    1.0|                       0.0|                         0.0|                                  0.6|                        21.1|                                 5.0|                       1.0|                    1.34|
| 264|2009-01-01 00:00:00|      yellow|                12.5|                  0.5|                    1.0|                       0.0|                         0.0|                                  0.6|                        17.1|                                 2.5|                       1.0|      1.4149999999999998|
| 135|2020-01-01 00:00:00|      yellow|  15418.269999999993|               504.75|                  166.5|                    468.57|          1052.8200000000002|                   116.99999999999925|          17795.159999999985|                                82.5|        1.1846153846153846|       9.004481927710843|
| 132|2008-12-01 00:00:00|      yellow|               214.5|                  1.0|                    2.5|                     12.28|                       12.24|                                  1.5|          251.52000000000004|                                 7.5|                       2.0|      15.219999999999999|
|  13|2020-01-01 00:00:00|      yellow|   797628.2199999994|    57428.90000000001|                25124.5|         149964.9900000011|          18284.090000000364|                   15237.899999986417|          1148327.5000004065|                            125386.5|        1.5437514727829706|       4.117475564609311|
| 231|2019-12-01 00:00:00|      yellow|                93.0|                  2.5|                    2.5|                      22.2|                         0.0|                                  1.5|                       134.2|                                12.5|                       2.4|                   5.156|
| 144|2020-01-01 00:00:00|      yellow|            672276.2|    72774.60000000002|                28861.5|        121139.64000000441|           2915.229999999986|                   17400.299999981176|          1009791.9700004618|                            143867.5|        1.5966400989418716|      2.4742511183093923|
|  51|2020-01-01 00:00:00|      yellow|  22720.589999999967|               1392.0|                  264.0|                    116.77|          1381.5599999999947|                   188.40000000000143|          26074.169999999955|                                 5.0|        1.5862068965517242|        8.42585987261146|
|  86|2020-01-01 00:00:00|      yellow|   9282.549999999997|               312.25|                   81.0|                       7.0|           326.9500000000001|                    55.79999999999983|          10065.550000000012|                                 0.0|        1.9390243902439024|      10.119193548387093|
+----+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [31]:
df_result.write.parquet("data/report/revenue/",mode="overwrite")

In [32]:
df_green.registerTempTable('green')

/home/smarteez/anaconda3/lib/python3.9/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [33]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [63]:
df_green_revenue=spark.sql("""
    SELECT
    date_trunc("hour",pickup_datetime) As hour,
    PULocationID as zone,
    SUM(total_amount) as green_ammounts,
    COUNT(1) as green_number_records
    
    FROM green
    
    WHERE pickup_datetime >= "2020-01-01 00:00:00"
    GROUP BY 1,2
    ORDER BY 3 DESC
""")

In [64]:
df_green_revenue.show()

+-------------------+----+------------------+--------------------+
|               hour|zone|    green_ammounts|green_number_records|
+-------------------+----+------------------+--------------------+
|2020-02-04 16:00:00|  75|2281.7499999999977|                 123|
|2020-01-08 16:00:00|  75| 2245.769999999999|                 115|
|2020-01-23 16:00:00|  75|           2225.64|                 123|
|2020-02-28 17:00:00|  75|2124.8499999999976|                 118|
|2020-01-28 16:00:00|  75|2099.3899999999976|                 130|
|2020-01-09 17:00:00|  75|2098.5399999999972|                 122|
|2020-01-21 16:00:00|  75|2084.5099999999984|                 114|
|2020-02-06 16:00:00|  75| 2066.149999999998|                 123|
|2020-02-27 17:00:00|  75|2018.7499999999984|                 141|
|2020-01-13 17:00:00|  75|2015.6699999999983|                 127|
|2020-01-29 16:00:00|  75|1999.0399999999972|                 121|
|2020-02-27 18:00:00|  75|1985.0299999999982|                 129|
|2020-01-31 16:00:00|  75| 1977.569999999998|                 119|
|2020-02-27 16:00:00|  75|1977.3499999999979|                 121|
|2020-02-25 16:00:00|  75|1946.5499999999984|                 116|
|2020-02-12 16:00:00|  75|1940.8999999999985|                 112|
|2020-01-27 16:00:00|  75|1938.4299999999987|                 123|
|2020-02-06 17:00:00|  75| 1925.609999999998|                 105|
|2020-01-22 16:00:00|  75|1924.3199999999981|                 124|
|2020-01-29 18:00:00|  75|1871.7399999999982|                 114|
+-------------------+----+------------------+--------------------+
only showing top 20 rows

In [65]:
df_green_revenue.repartition(10).write.parquet('data/green/report/',mode='overwrite')

23/04/01 15:54:27 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [66]:
df_yellow.registerTempTable("yellow")

/home/smarteez/anaconda3/lib/python3.9/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [67]:
df_yellow_revenue=spark.sql("""
    SELECT
    date_trunc("hour",pickup_datetime) As hour,
    PULocationID as zone,
    SUM(total_amount) as yellow_ammounts,
    COUNT(1) as yellow_number_records
    
    FROM yellow
    
    WHERE pickup_datetime >= "2020-01-01 00:00:00"
    GROUP BY 1,2
    ORDER BY 3 DESC
""")

In [68]:
df_yellow_revenue.repartition(10).write.parquet('data/yellow/report/',mode='overwrite')

23/04/01 15:55:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [69]:
df_yellow_revenue.show()

+-------------------+----+------------------+---------------------+
|               hour|zone|   yellow_ammounts|yellow_number_records|
+-------------------+----+------------------+---------------------+
|2020-03-10 09:00:00| 193|1000026.4500000001|                    3|
|2020-10-07 10:00:00|  41|         998602.27|                   21|
|2020-03-04 17:00:00| 166| 673021.1200000009|                  117|
|2020-05-04 20:00:00| 142|429733.24999999994|                   12|
|2020-12-26 13:00:00| 170|399255.83999999997|                   57|
|2020-08-14 17:00:00| 142|188859.90999999983|                   79|
|2020-11-17 06:00:00|  41|151590.91999999995|                    8|
|2020-01-05 21:00:00| 132| 40236.33999999998|                  725|
|2020-01-26 20:00:00| 132|38895.609999999935|                  708|
|2020-01-20 18:00:00| 132| 38346.72999999995|                  693|
|2020-01-12 22:00:00| 132|37748.569999999905|                  711|
|2020-01-20 16:00:00| 132| 37534.08999999995|                  638|
|2020-01-20 22:00:00| 132| 37197.59999999993|                  652|
|2020-01-20 20:00:00| 132| 37018.44999999994|                  687|
|2020-01-05 20:00:00| 132| 36932.81999999993|                  688|
|2020-01-20 21:00:00| 132| 36152.19999999989|                  647|
|2020-03-02 16:00:00| 132| 36131.56999999985|                  609|
|2020-01-27 16:00:00| 132| 35936.08999999984|                  588|
|2020-01-10 16:00:00| 132| 35720.94999999982|                  584|
|2020-02-23 20:00:00| 132|35705.199999999815|                  655|
+-------------------+----+------------------+---------------------+
only showing top 20 rows

In [70]:
df_join=df_yellow_revenue.join(df_green_revenue,on=["hour","zone"],how="outer")

In [71]:
df_join.show()

+-------------------+----+------------------+---------------------+------------------+--------------------+
|               hour|zone|   yellow_ammounts|yellow_number_records|    green_ammounts|green_number_records|
+-------------------+----+------------------+---------------------+------------------+--------------------+
|2020-01-01 00:00:00|  22|              null|                 null|              15.8|                   1|
|2020-01-01 00:00:00|  25| 324.3500000000001|                   16|             531.0|                  26|
|2020-01-01 00:00:00|  55|              null|                 null|            129.29|                   4|
|2020-01-01 00:00:00|  56|              18.1|                    2|             99.69|                   3|
|2020-01-01 00:00:00|  60|57.620000000000005|                    2|            160.04|                   6|
|2020-01-01 00:00:00|  61|            146.64|                    3|            526.71|                  17|
|2020-01-01 00:00:00|  65| 409.3500000000001|                   19|            199.49|                  10|
|2020-01-01 00:00:00|  71|              null|                 null|              23.8|                   1|
|2020-01-01 00:00:00|  78|              null|                 null|             34.46|                   2|
|2020-01-01 00:00:00|  88| 823.7999999999997|                   36|              null|                null|
|2020-01-01 00:00:00| 106|              null|                 null|             10.56|                   1|
|2020-01-01 00:00:00| 112|119.47999999999999|                    8|312.26000000000005|                  18|
|2020-01-01 00:00:00| 113|3984.3200000000083|                  220|              null|                null|
|2020-01-01 00:00:00| 148| 6790.150000000019|                  371|              null|                null|
|2020-01-01 00:00:00| 161| 9410.210000000003|                  488|              null|                null|
|2020-01-01 00:00:00| 162| 4622.290000000009|                  268|              null|                null|
|2020-01-01 00:00:00| 185|             69.51|                    2|              null|                null|
|2020-01-01 00:00:00| 190|54.099999999999994|                    3|             61.97|                   4|
|2020-01-01 00:00:00| 194|            148.71|                    2|              null|                null|
|2020-01-01 00:00:00| 225|             74.07|                    3|251.92000000000002|                  13|
+-------------------+----+------------------+---------------------+------------------+--------------------+
only showing top 20 rows